[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tscholb
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tscholb
	label-Verified = -1..+1 group user/tscholb
	push = group user/tscholb
	read = group user/tscholb
	rebase = group user/tscholb
	removeReviewer = group user/tscholb
	submit = group user/tscholb
[access "refs/heads/*"]
	create = group user/tscholb
	push = +force group user/tscholb
	pushMerge = group user/tscholb
	read = group user/tscholb
[access "refs/tags/*"]
	push = group user/tscholb
	push = +force group user/tscholb
